/* Navbar */
.navbar{
	position: fixed;
	z-index: 1;
	padding: 20px;
	transition: .5s;

}
.navbar-brand{

	font-family: Viga;
	font-size: 32px;

}

.nav-link{
	text-transform: uppercase;
	margin-right: 32px;

}

.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid #0B63DC;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}
.tombol{
	text-transform: uppercase;
	border-radius: 50px;
}
/*jumbotron*/
.jumbotron{
	background-image: url(tugasakhir/jumbotron.png);
	background-size: cover;
	height: 640px;
	margin-top: -75px; 
	text-align: center;
	position: relative;
}
.jumbotron .container{
	z-index: 1;
	position: relative;
}

.jumbotron::after{
	content: '';
	display: block;
	width: 100%;
	height: 80%;
	background-image: linear-gradient(to top, rgba(0,0,0,1 ), rgba(0,0,0,0));
	position: absolute;
	bottom: 0;
}
.navbar-brand, .nav-link{
	color: white !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0.7);
}
.jumbotron .display-4{
	color: white;
	margin-top: 150px;
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0, 0, 0.7);
	font-size: 62px;
	margin-bottom: 50px;
}
.jumbotron .display-4 span{
	font-weight: 600;
}

/*panel*/
.info-panel{
	box-shadow: 0 3px 20px rgba(0, 0, 0, 5);
	border-radius: 12px;
	margin-top: -100px;
	background-color: white;
	padding: 30px;

}
.info-panel img{
	width: 80px;
	height: 80px;

}
.info-panel h4{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;

}

.workingspace{
	margin-top: 100px;
	text-align: 200px;
	margin-left: 100px;


}
.workingspace h1{
	font-family: Viga;
	font-size: 52px;
	font-weight: 1500px;
	font-weight: bold;
	margin-top: 110px;

}
.workingspace p{
	margin-top: 15px;
	font-size: 18px;
	color: #2d3436;
}
.gejala h5{
	text-align: center;
	font-weight: 100px;
	font-style: italic;
	font-size: 22px;
	margin-top: 30px;

}
.gejala h1{
	text-align: center;
	font-family: Viga;
	font-size: 50px;
	margin-top: 150px;
	font-size: 60px;
}
.gejala figure img{
	width: 100px;
	margin-top: 70px;
	margin-left: 70px; 
	margin-right: 70px;

}
.gejala figure h5{

	font-size: 100px
	font-weight:bold;
	font-style: normal;
	color:#1C255D; 
}
.gejala figure span{
	font-size: 20px; 

}
.gejala figcaption{
	text-align: center; 
	margin-bottom: 100px;
}
.profil{
	text-align: 200px;


}
.profil h1{
	text-align: 200px;
	font-family: Viga;
	font-size: 60px;
	font-weight: 200px;
	text-align: center;
}
.profil img{
	margin-top: 0px; 
	
}
.profil p{
	margin-top: 0px;
	font-size: 60px
	font-weight:bold;
	font-style: italic;
	color:#1C255D; 
	margin-left: 100px;
	text-align: center; 
	
}
.profil h5{
	margin-bottom: 150px !important;
}
.footer-img{

	height: 320px;
	margin-top: -320px;
}